animmaker.exe
Game.rxproj
animmaker.txt
extendtext.exe
extendtext.txt
scripts_extract.rb
selpoint.bmp
traceback.log
knownpoint.bmp
townmapgen.html
Essentials Docs Wiki.URL
PBS
Plugins
file_downloader.sh
patch
dawn.png
gym leaders and e4.png
hp bars.png
intro.png
kyledove tileset.png
lucas.png
townmap.jpg
trainer_backs.png
trainer_vs_faces.png
trainers.png
vs_bars.png
